<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs')  %> 
  <title>Profile Page</title>
</head>
<body>
  <%- include ('../partials/nav.ejs')  %> 
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= member.firstname  %>  <% member.lastname %> </h1>
      <img src="<%= member.picture %>" alt="">
      <p class="lead"><%= member.aboutMe  %> </p>
      <hr class="my-4">
      <p>Location: <%= member.location %> </p> <br>
      <p>Age: <%= member.age %> </p> <br>
      <p>Occupation: <%= member.occupation %> </p> <br>
      <p>School: <%= member.school %> </p> <br>
      <p>Drink of Choice: <%= member.drink %> </p> <br>
      <p>Best Line: <%= member.pickup %> </p> <br>
      <p>Interests:</p>
      <ul>
        <% for( let i = 0; i < member.interests.length; i++) { %>
          <li><%= member.interests[i] %> </li>
        <% } %>
      </ul>
      <a class="btn-small btn-success" href="/members/<%= member.username %>/edit">Edit</a>
    </div>

  </div>

  <%- include ('../partials/footer.ejs')  %> 
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>