<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs')  %> 
  <title>Spot Page</title>
</head>
<body>
  <%- include ('../partials/nav.ejs')  %> 
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= spot.name  %> </h1>
      <img src="<%= spot.picture %>" alt="">
      <p class="lead"><%= spot.description  %> </p>
      <hr class="my-4">
      <p>Location: <%= spot.location %> </p> <br>
      <p>Deals:</p> 
      <ul>
        <% for( let i = 0; i < spot.deals.length; i++) { %>
          <li><%= spot.deals[i] %> </li>
        <% } %>
      </ul>
      <p>Contact: <%= spot.contact %> </p> <br>
      <a class="btn-md btn-success" href="/spots/<%= spot.name %>/edit">Edit</a>
      <form action="/spots/<%= spot.name %>?_method=DELETE" method="POST">
        <input class="btn-md btn-success" type="submit" value="Delete Spot">
      </form>
    </div>
  </div>

  <%- include ('../partials/footer.ejs')  %> 
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>